<header>
  <div class="wrapper">
    <div class="wrap-header">
      <div class="logo"><span><a routerLink="/">Logo</a></span></div>
      <div class="main-menu">
        <ul class="nav">
          <li><a routerLinkActive="active" [routerLink]="'/services'">Сервисы</a></li>
          <li><a routerLinkActive="active" [routerLink]="'/projects'">Проекты</a></li>
          <li><a routerLinkActive="active" [routerLink]="'/web-projects'">Web-проекты</a></li>
          <li><a routerLinkActive="active" [routerLink]="'/mobile-applications'">Мобильные приложения</a></li>
          <li><a routerLinkActive="active" [routerLink]="'/about'">О компании</a></li>
          <li><a routerLinkActive="active" [routerLink]="'/team'">Команда</a></li>
          <li><a routerLinkActive="active" [routerLink]="'/contacts'">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="wrapper">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

